# Python
__pycache__/
*.py[cod]
*.log
*.sqlite
*.db

# CSV / data
*.csv
data/
output/
logs/*.log

# Env
**/.env
.venv/
venv/
**/venv/
**/.venv/
.envrc

# VSCode / IDEs
.vscode/
.idea/
*.iml

# dev_scripts
**/dev_scripts/
